{% extends 'layout.html' %} 

{% block title %} TweetUp {% endblock %} 

{% block content %}
<h1 class="text-center mt-4">TweetUp</h1>

<a class="btn btn-primary mb-4" href="{% url 'tweet_create' %}">Create Tweet</a>

<div class="container row gap-4">
  {% for tweet in tweets %}
  <div class="card" style="width: 18rem">
    {% if tweet.photo %}
      <img src="{{ tweet.photo.url }}" class="card-img-top" alt="Tweet Image" />
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{ tweet.user.username }}</h5>
      <p class="card-text">{{ tweet.text }}</p>

      {% if tweet.user == request.user %}
        <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-outline-primary">Edit</a>
        <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-outline-danger">Delete</a>
      {% endif %}
    </div>
  </div>
  {% empty %}
  <p>No tweets available.</p>
  {% endfor %}
</div>
{% endblock %}
